<div class="jumbotron center">
	<h1>Welcome to my app!  One Month Rails</h1>
	<div class="jumbotron center">
	<p>Click here to <%= link_to "Sign up", new_user_registration_path, class:  "btn btn-primary btn-lg" %>.</p>
	<div